<br>
<h2>Add / View Employees</h2>
<div class="card">
  <div class="card-header"><strong>Add Employees</strong>
    <span class="float-right">
      <i class="fa fa-angle-up fa-1x "></i>&nbsp;&nbsp;
      <i class="fa fa-wrench fa-1x "></i>&nbsp;&nbsp;
      <i class="fa fa-times fa-1x "></i>&nbsp;&nbsp;
      <i class=""></i>
      <i class=""></i>
    </span>
  </div><br>
  <div class="input-group" style="margin-left:95px">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
    </div>
    <input type="text" placeholder="Employee Code(Login Id)">
    <div class="input-group-prepend" style="margin-left:35px">
      <span class="input-group-text" ><i class="fa fa-user" aria-hidden="true"></i></span>
    </div>
    <input type="text" placeholder="Employee First Name">
    <div class="input-group-prepend" style="margin-left:35px">
      <span class="input-group-text" ><i class="fa fa-user" aria-hidden="true"></i></span>
    </div>
    <input type="text" placeholder="Employee Last Name">
    <div class="input-group-prepend" style="margin-left:35px">
      <span class="input-group-text" ><i class="fa fa-user" aria-hidden="true"></i></span><br>
      <input type="password" placeholder="Password">
    </div>
    <hr>
  </div><br>
  <div>
    <button type="submit" class="btn btn-primary" style="margin-left:305px">Cancle</button>
    <button type="submit" class="btn btn-success" style="margin-left:57px">Submit</button>
  </div><br>
</div><br><br>
<br>
<div class="card" style="color: gray;">
  <div class="card-body">
    <div><strong>Employees List</strong>
      <span class="float-right">
        <i class="fa fa-angle-up fa-1x "></i>&nbsp;&nbsp;
        <i class="fa fa-wrench fa-1x "></i>&nbsp;&nbsp;
        <i class="fa fa-times fa-1x "></i>&nbsp;&nbsp;
        <i class=""></i>
        <i class=""></i>
      </span>
    </div><br>
    <hr>
    <div class="row">
      <div class="col-6">
        <form>
          <div class="form-group"> 
            Show &nbsp;<select class="number">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            Entries
          </div>
        </form>
      </div>
      <div class="col-6">
        <div class="float-right">
          Search :<input type="text">
        </div>
      </div>
    </div>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr style="text-align: center;">
          <th>
            <i class="fa fa fa-trash"></i>
          </th>
          <th>Empolyee Code<span class="table-up float-right"><i class="fas fa-long-arrow-alt-up"
                aria-hidden="true"></i></span>
            <span class="table-down float-right"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></span>
          </th>
          <th>Empolyee FirstName
            <span class="table-up float-right"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></span>
            <span class="table-down float-right"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></span>
          </th>
          <th>Empolyee Last Name
            <span class="table-up float-right"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></span>
            <span class="table-down float-right"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></span>
          </th>
        </tr>
      </thead>
      <tbody style="text-align: center;">
        <tr>
          <td>
            <div class="form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label"></label>
            </div>
          </td>
          <td>134</td>
          <td>Mahesh</td>
          <td>Rapolu</td>
        </tr>
        <tr>
          <td>
            <div class="form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label"></label>
            </div>
          </td>
          <td>36423</td>
          <td>Saikumar</td>
          <td>kasaboina</td>
        </tr>
        <tr>
          <td>
            <div class="form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label"></label>
            </div>
          </td>
          <td>2</td>
          <td>Akram</td>
          <td>Shaik</td>
        </tr>
      </tbody>
    </table>
    <div class="float-right">
      <ul class="pagination " style="color:rgb(221, 9, 9)">
        <li class="page-item"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
      </ul>
    </div>
  </div>
</div>