<br>
<h2>Add / View Assigments</h2>
<div class="card">
  <div class="card-header"><strong>Add Assigments</strong> (You Can Create A new Assigments)
    <span class="float-right">
      <i class="fa fa-angle-up fa-1x "></i>&nbsp;&nbsp;
      <i class="fa fa-wrench fa-1x "></i>&nbsp;&nbsp;
      <i class="fa fa-times fa-1x "></i>&nbsp;&nbsp;
      <i class=""></i>
      <i class=""></i>
    </span>
  </div><br>
  <div class="input-group" style="margin-left:85px">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
    </div>
    <input type="text" placeholder="Assigment Name" aria-label="Username">
    <input type="text" placeholder="Assigment Code" aria-label="Username" style="margin-left:45px">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
    </div>
    <hr>
  </div><br>
  <div>
    <button type="submit" class="btn btn-primary" style="margin-left:205px">Cancle</button>
    <button type="submit" class="btn btn-success" style="margin-left:55px">Submit</button>
  </div><br>
</div><br><br><br>
<div class="card">
  <div class="card-header"><strong>Assigment List</strong>
    <span class="float-right">
      <i class="fa fa-angle-up fa-1x "></i>&nbsp;&nbsp;
      <i class="fa fa-wrench fa-1x "></i>&nbsp;&nbsp;
      <i class="fa fa-times fa-1x "></i>&nbsp;&nbsp;
      <i class=""></i>
      <i class=""></i>
    </span>
  </div>
  <div class="card-body" style="text-align: center;">
    <table class="table table-hover">
      <thead style="background-color:lightslategray;">
        <tr>
          <th scope="col">
            <!-- <span class="form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label" for="exampleCheck1"></label>
            </span> -->
          </th>
          <th>#</th>
          <th scope="col">Assigment Name</th>
          <th> Assigment Code</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </th>
          <td>1</td>
          <td>Accounts(ojas)</td>
          <td>Ojas (15456)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>