<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a class="navbar-brand"><img src="https://s3.amazonaws.com/myamcatimages/company/images/8527.png"></a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> Profile </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" routerLink="myaccount">My account</a>
                    <a class="dropdown-item" (click)="godashboard()">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row" >
        <div class="col-sm-2 col col-md-2 col-lg-2 col-xl-2" style="background-color:rgb(207, 207, 223);">
            <br>
            <div style="text-align: center;">
                <i class="fas fa-user-circle fa-4x "></i>
            </div>
            <h4 style="text-align: center;">Mahesh R</h4>
            <hr>
            <div style="text-align:center">
                <p [routerLink]="['reports']" data-toggle="collapse" data-target="#demo1">
                    <strong>Reports</strong></p>
                <div id="demo1" class="collapse" style="text-align: start;">
                    <p [routerLink]="['empolyee']">
                        <span>All Empolyee</span>
                    </p>
                </div>
                <p [routerLink]="['admin']" data-toggle="collapse" data-target="#demo2"><strong>Admin</strong></p>
                <div id="demo2" class="collapse" style="text-align: start;">
                    <p [routerLink]="['client']"><span>Clients</span></p><br>
                    <p [routerLink]="['assigments']"><span>Assigments</span></p><br>
                    <p [routerLink]="['addempolyee']"><span>Empolyee</span></p><br>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col col-md-10 col-lg-10 col-xl-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>